* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: black;
    padding: 0.3em;
    margin-bottom: 1em;
}

#nav {
    display: flex;
    align-items: center;
    gap: 7em;
}

nav a {
    color: #FFA500;
    text-decoration: none;
}

nav img {
    width: 7.5em;
}

.sign, .log {
    transition: 0.6s ease;
}

.sign:hover, .log:hover {
    text-shadow: 0px 0px 7px #ffa500;
    text-decoration: underline;
    color: #FFA500;
}

@media screen and (max-width: 958px) {
    #nav {
        gap: 4em;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 504px){
    #nav {
        gap: 1.5em;
        font-size: 0.7em;
    }
}

@media screen and (max-width: 300px) {
    .burger {
        display: block;
        color: white;
    }

    #nav {
        display: none;
    }

    #nav.open {
        display: flex;
    }

    .burger-icon {
        cursor: pointer;
    }
}