* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-form {
    display: flex;
    flex-direction: column;
    background-color: #1b1b1b;
    padding: 2em;
}

.login-form .form-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

form label {
    color: #c6c6c6;
    width: 9em;
}

.login-form input[type="text"],
.login-form input[type="password"], 
.login-form input[type="email"] {
    font-family: 'Maven Pro';
    width: 20em; 
    padding: 7px;
    border: none;
}

.login-form input[type="text"]::placeholder, 
.login-form textarea::placeholder {
    font-family: 'Maven Pro';
    color: white;
    padding: 5px;
}

.login-form .form-submit {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 504px) {
    .login-form input[type="text"],
    .login-form input[type="password"], 
    .login-form input[type="email"] {
        font-size: 0.9em;
    }

    .login-form input[type="text"]::placeholder, 
    .login-form textarea::placeholder {
        font-size: 0.9em;
    }

    .login-form input[type="submit"] {
        font-size: 1.1em;
    }
}